
body{
    background-color: white;
}


nav {
    display:flex;
    color:black;
    padding: 10px;
    margin-left: 113px;
    margin-right: 113px;
    margin-bottom: 80px;
    margin-top: 18px;
    justify-content: space-between;
    align-items: center;
}

nav h1, nav ul {
    margin: 0;
    padding: 0;
    display: inline;
}

ul {
    list-style: none;
    
}

li {
    display: inline-block;
    margin-right: 20px;
}

a {
    color: rgba(25, 24, 37, 0.75);
    text-decoration: none;
}

/* Design For the first section */

#signup-but{
    width:117.11503px;
    height: 48.55751px;
    border-radius: 98.6px;
    background-color: #5D50C6;
    color:white;
    border:0px;
    
}


#company-name {
    position: relative;
    color: transparent;
  }
  
  #company-name::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    background: linear-gradient(247deg, #F85E9F 35.26%, #5D50C6 81.16%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
  }

.box1{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:0px;
    height: 400px;
    
    
}

#explore-but{
    display: flex;
    width:231px;
    height: 48.55751px;
    border-radius: 98.6px;
    background-color: white;
    color:#F85E9F;
    border:0px;
    box-shadow: 3px 23px 1px 1px rgba(0, 0, 0, 0.07);
    margin-left: 109.47px;
    align-items: center;
    justify-content: space-between;
    padding-left: 31.56px;
    padding-right: 31.56px;
    margin-top: 0px;
}

#dest{
    margin-left:  109.47px;
    font-size: 61px;
    width: 309px;
    margin-top: 31px;
    margin-bottom: 31px;
}

#info{
    width:300px;
    margin-left: 109.47px;
    color:rgba(25, 24, 37, 0.75);
    margin-top: 5px;
}

#signup-but2{
    width:117.11503px;
    height: 48.55751px;
    border-radius: 98.6px;
    background-color: white;
    color:#5D50C6;
    border:1px solid rgba(25, 24, 37, 0.75);;
    
    margin-left: 20px;
    
}

#get-started{
    margin-left:109.47px ;
    
    
}

#round-blue-circle{
    width: 450px;
    height: 450px;
    background-color: rgb(3, 172, 228);
    border-radius: 225px;
    box-shadow: 2px 2px rgb(3, 172, 228);
    position:relative;
    right:1%;
    bottom:0%;
    align-self: center;
    z-index: -1;
}

#first-vector{
    position: relative;
    bottom:420px;
    right: 50px;
    z-index: 1;
}


#woman-globe{
    position: relative;
    bottom:765px;
    right: 0px;
    z-index: 1;
    height: 500px;
}

#a1{
    margin-right: 250px;
   
}

#first-vector1{
    position: relative;
    bottom:850px;
    right: -80px;
    z-index: 1;
}


#left-dot{
    position: relative;
    bottom:1400px;
    right: 165px;
    z-index: 1;
}

#rigth-dot{
    position: relative;
    bottom:1500px;
    right: -165px;
    z-index: 1;
    margin: 0px;
}

#left-plane{
    position: relative;
    bottom:1710px;
    right: 15px;
    z-index: 1;
    margin: 0px;
}


#rigth-plane{
    position: relative;
    bottom:1615px;
    right: 450px;
    z-index: 1;
    margin: 0px;
}

#top-places{
    display:flex;
    width: 171px;
    height: 55px;
    align-items: center;
    border-radius: 50px;
    justify-content: space-around;
    position: relative;
    bottom:1315px;
    right: -250px;
    z-index: 1;
    background-color: white;
    box-shadow: 4px 4px  #f9fafa;
    margin: 0px;
}

#top-text{
    font-family: Poppins;
    font-size: 13.806px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
    margin: 0px;
}

#top-hotels{
    display:flex;
    width: 171px;
    height: 55px;
    align-items: center;
    border-radius: 50px;
    justify-content: space-around;
    position: relative;
    bottom:1455px;
    right: 50px;
    z-index: 1;
    background-color: white;
    box-shadow:4px 4px 4px 4px  #f9fafa;
    margin-bottom: 0px;
}

#top-client{
    display:flex;
    width: 171px;
    height: 82px;
    align-items: center;
    border-radius: 10px;
    justify-content: space-around;
    position: relative;
    bottom:1655px;
    right: -350px;
    z-index: 1;
    background-color: white;
    box-shadow: 4px 4px  #f9fafa;
    margin-bottom: 0px;
}

/* Second Section Begins Here */



.box2 {
    padding: 50px; /* Adjust as needed */
}


#box2a{
    display:flex;
    justify-content: space-between;
    padding-top:50px;
    margin-left: 59px;
    margin-right: 10px;
}


/* styling for the third section */

.box3{
    margin-left:90px;
}

#box3a{
    width:250px;
}