
body{
    background-color: white;
}


nav {
    display:flex;
    color:black;
    padding: 10px;
    margin-left: 113px;
    margin-right: 113px;
    margin-bottom: 80px;
    margin-top: 18px;
    justify-content: space-between;
    align-items: center;
}

nav h1, nav ul {
    margin: 0;
    padding: 0;
    display: inline;
}

ul {
    list-style: none;
    
}

li {
    display: inline-block;
    margin-right: 20px;
}

a {
    color: rgba(25, 24, 37, 0.75);
    text-decoration: none;
}

/* Design For the first section */

#signup-but{
    width:117.11503px;
    height: 48.55751px;
    border-radius: 98.6px;
    background-color: #5D50C6;
    color:white;
    border:0px;
    
}


#company-name {
    position: relative;
    color: transparent;
  }
  
  #company-name::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    background: linear-gradient(247deg, #F85E9F 35.26%, #5D50C6 81.16%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
  }

.box1{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:0px;
    height: 400px;
    
    
}

#explore-but{
    display: flex;
    width:231px;
    height: 48.55751px;
    border-radius: 98.6px;
    background-color: white;
    color:#F85E9F;
    border:0px;
    box-shadow: 3px 23px 1px 1px rgba(0, 0, 0, 0.07);
    margin-left: 109.47px;
    align-items: center;
    justify-content: space-between;
    padding-left: 31.56px;
    padding-right: 31.56px;
    margin-top: 0px;
}

#dest{
    margin-left:  109.47px;
    font-size: 61px;
    width: 309px;
    margin-top: 31px;
    margin-bottom: 31px;
}

#info{
    width:300px;
    margin-left: 109.47px;
    color:rgba(25, 24, 37, 0.75);
    margin-top: 5px;
}

#signup-but2{
    width:117.11503px;
    height: 48.55751px;
    border-radius: 98.6px;
    background-color: white;
    color:#5D50C6;
    border:1px solid rgba(25, 24, 37, 0.75);;
    
    margin-left: 20px;
    
}

#get-started{
    margin-left:109.47px ;
    
    
}

#round-blue-circle{
    width: 450px;
    height: 450px;
    background-color: rgb(3, 172, 228);
    border-radius: 225px;
    box-shadow: 2px 2px rgb(3, 172, 228);
    position:relative;
    right:1%;
    bottom:0%;
    align-self: center;
    z-index: -1;
}

#first-vector{
    position: relative;
    bottom:420px;
    right: 50px;
    z-index: 1;
}


#woman-globe{
    position: relative;
    bottom:765px;
    right: 0px;
    z-index: 1;
    height: 500px;
}

#a1{
    margin-right: 250px;
   
}

#first-vector1{
    position: relative;
    bottom:850px;
    right: -80px;
    z-index: 1;
}


#left-dot{
    position: relative;
    bottom:1400px;
    right: 165px;
    z-index: 1;
}

#rigth-dot{
    position: relative;
    bottom:1500px;
    right: -165px;
    z-index: 1;
    margin: 0px;
}

#left-plane{
    position: relative;
    bottom:1710px;
    right: 15px;
    z-index: 1;
    margin: 0px;
}


#rigth-plane{
    position: relative;
    bottom:1615px;
    right: 450px;
    z-index: 1;
    margin: 0px;
}

#top-places{
    display:flex;
    width: 171px;
    height: 55px;
    align-items: center;
    border-radius: 50px;
    justify-content: space-around;
    position: relative;
    bottom:1315px;
    right: -250px;
    z-index: 1;
    background-color: white;
    box-shadow: 4px 4px  #f9fafa;
    margin: 0px;
}

#top-text{
    font-family: Poppins;
    font-size: 13.806px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; 
    margin: 0px;
}

#top-hotels{
    display:flex;
    width: 171px;
    height: 55px;
    align-items: center;
    border-radius: 50px;
    justify-content: space-around;
    position: relative;
    bottom:1455px;
    right: 50px;
    z-index: 1;
    background-color: white;
    box-shadow:4px 4px 4px 4px  #f9fafa;
    margin-bottom: 0px;
}

#top-client{
    display:flex;
    width: 171px;
    height: 82px;
    align-items: center;
    border-radius: 10px;
    justify-content: space-around;
    position: relative;
    bottom:1655px;
    right: -350px;
    z-index: 1;
    background-color: white;
    box-shadow: 4px 4px  #f9fafa;
    margin-bottom: 0px;
}

/* Second Section Begins Here */



.box2 {
    padding: 50px; /* Adjust as needed */
}


#box2a{
    display:flex;
    justify-content: space-between;
    padding-top:50px;
    margin-left: 59px;
    margin-right: 10px;
}


/* styling for the third section */

.box3{
    margin-left:90px;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
}

#box3a{
    width:250px;

}


/* style for the fourth section */


.box4{
    margin-top: 120px;
    margin-left: 90px;
}

#explore{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
}

#forward-backward{
    display:flex;
    justify-content: space-between;
    padding-left:40px;
}

#places{
    display:flex;
    justify-content: space-between;
    margin-right:50px ;

}

#pi{
    width:340px;
    height: 270px;
    box-shadow: 6px 10px 4px 4px #DDDBDA;
    border-radius: 70px;
}

#locate{
    margin-left:40px;
    margin-top: 5px;
}

#locate-details{
    margin-left:40px;
    width:250px;
    color: rgba(12, 17, 31, 0.60);
    font-family: Poppins;
    font-size: 15.423px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}

#action{
    display:flex;
    justify-content: space-between;
    background-color: #F7F7F780;
    height: 70px;
    border-bottom-left-radius: 43px;
    border-bottom-right-radius: 43px;
    padding-left: 40px;
}

#price{
    padding-top: 30px;
}
#see-but{
    width:95px;
    height: 35px;
    border-radius: 98.6px;
    background-color: #5D50C6;
    color:white;
    border:0px;
    align-self: center;
    margin-right: 20px;
    box-shadow: 2px 2px #5D50C6;
}

/* Styling For the Fifth box */

.box5{
    margin-left: 90px;
    display:flex;
    justify-content: space-between;
    margin-right:50px;

}

#round-yellow-circle{
    width: 450px;
    height: 450px;
    background-color: #FACD49;
    border-radius: 225px;
    box-shadow: 2px 2px #FACD49;
    position:relative;
    right:1%;
    bottom:0%;
    align-self: center;
    z-index: -1;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    margin-top: 210px;
}


#box5b{

    align-self: center;
}

#black-woman{
    align-self: flex-end;
    height: 600px;
}

#bi{
    width:400px;
}
#bii{
    display:flex;
    justify-content: space-between;
}
#stats{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:200px;
    height:110px;
    border: 1px solid #DDDBDA;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

#man-globe{
    position: relative;
    bottom:765px;
    right: -35px;
    z-index: 1;
    height: 500px;
}

#get-started2{
    margin-left: 120px;
    display:flex;
    justify-content: space-between;
    padding-right: 20px;
    margin-right: 20px;
    width:260px;
}


/* Style for section six 6 */


.box6{
    display:flex;
    margin-top:140px;
    justify-content: space-between;
}


#box6b{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    padding:20px;
    margin:20px;
}
#dest2{
    margin-left: 110px;
    font-size: 40px;
    width:390px;
}

#ipic{
    margin-left: 110px;
    width:410px;
    height: 210px;
}

#icon-info{
    display:flex;
    padding:0px;
    align-items: center;
    margin-bottom: 50px;
    margin-right: 50px;
}

h4{
    font-family: Poppins;
    font-size: 23.668px;
    font-style: normal;
    font-weight: 700;
    line-height: 27.613px; /* 116.667% */
    text-transform: capitalize; margin:0px;
}

#icon-info2{
    display:flex;
    flex-direction: column;
   
    margin:0px;
    margin-left: 5px;
}

#dest1{
    margin-left:20px;
}

/* for second to the last section */
.box7 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#newsletter {
    background-color: #FACD49;
    height: 300px;
    width: 80%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

#info3 {
    width: 360px;
    align-self: center;
    color: var(--Black-75, rgba(25, 24, 37, 0.75));
    text-align: center;
    /* mediumpoppins */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.64px;
}

#form-field {
    height: 59px;
    width: 444px;
    border-radius: 11.8px;
    border: 0px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Added this line */
}

#buttonform {
    display: flex;
}

#dest3 {
    color: #2D3134;
    text-align: center;
    font-family: Poppins;
    font-size: 39.447px;
    font-style: normal;
    font-weight: 600;
    line-height: 39.447px; /* 100% */
    letter-spacing: 0.059px;
    align-self: center;
}

/* Added this styling for the icon */
#form-field img {
    margin-right: 10px; /* Adjust the margin as needed */
}


/* styling for last section */

.linkers{
    display:flex;
    margin-top: 70px;
    margin-left: 120px;
    margin-bottom: 70px;

}

#info4{
    width: 360px;
    color: var(--Black-75, rgba(25, 24, 37, 0.75));
    /* mediumpoppins */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.64px;
    margin-left: 0px;
}
#sos{
    margin-left: 20px;
    display:flex;
    margin-top: 40px;
}

#s{
    padding-left: 20px;
}


/* styling for foter */

#foot{
    display:flex;
    margin-left: 130px;
    justify-content: space-between;
    margin-right: 50px;
}

#li{
    color: var(--Neutral-600, #6F6C90);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 15.779px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.723px;
    align-self: flex-start;
    margin-bottom: 10px;
}

#ft{
    color: var(--Neutral-600, #6F6C90);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 15.779px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.585px;
}


/* Starting For the Responsiveness */
