
body{
    background-color: white;
}


nav {
    display:flex;
    color:black;
    padding: 10px;
    margin-left: 113px;
    margin-right: 113px;
    margin-bottom: 80px;
    margin-top: 18px;
    justify-content: space-between;
    align-items: center;
}

nav h1, nav ul {
    margin: 0;
    padding: 0;
    display: inline;
}

ul {
    list-style: none;
    
}

li {
    display: inline-block;
    margin-right: 20px;
}

a {
    color: rgba(25, 24, 37, 0.75);
    text-decoration: none;
}

#signup-but{
    width:117.11503px;
    height: 48.55751px;
    border-radius: 98.6px;
    background-color: #5D50C6;
    color:white;
    border:0px;
    
}


#company-name {
    position: relative;
    color: transparent;
  }
  
  #company-name::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    background: linear-gradient(247deg, #F85E9F 35.26%, #5D50C6 81.16%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
  }

.box1{
    display:flex;
    
}

#explore-but{
    display: flex;
    width:231px;
    height: 48.55751px;
    border-radius: 98.6px;
    background-color: white;
    color:#F85E9F;
    border:0px;
    box-shadow: 3px 23px 1px 1px rgba(0, 0, 0, 0.07);
    margin-left: 109.47px;
    align-items: center;
    justify-content: space-between;
    padding-left: 31.56px;
    padding-right: 31.56px;
    margin-top: 0px;
}

#dest{
    margin-left:  109.47px;
    font-size: 61px;
    width: 309px;
    margin-top: 31px;
    margin-bottom: 31px;
}

#info{
    width:300px;
    margin-left: 109.47px;
    color:rgba(25, 24, 37, 0.75);
    margin-top: 5px;
}

#signup-but2{
    width:117.11503px;
    height: 48.55751px;
    border-radius: 98.6px;
    background-color: white;
    color:#5D50C6;
    border:1px solid rgba(25, 24, 37, 0.75);;
    
    margin-left: 20px;
    
}

#get-started{
    margin-left:109.47px ;
    
    
}
  